# Core LLM & Orchestration
langchain==0.3.*
langchain-community
langchain-classic
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters

# Data Ingestion & Processing
beautifulsoup4
unstructured
python-dotenv
pathlib

# Vector Database & ML
chromadb
sentence-transformers
tokenizers

# Frontend
streamlit
